<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
        <beans>
        <bean id="rahul" class="com.ex.College">
        <property name="sid" value="1050"></property>
        <property name="sname" value="rahul kumar"></property>
        <property name="smarks" value="452"></property>
        <property name="section" value="B"></property>
        <property name="branch" value="ECE"></property>
        </bean>
        </beans>